* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SegoeUI;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI"),
    url(./fonts/Segoe\ UI.ttf) format("ttf")
}

body {
  /* background-image: url(./Images//bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.container {
  margin: 20px 60px;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 500px;
  perspective: 1000px;
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}